.App {
	text-align: center;
	height: 100vh;
	overflow: hidden;
}

.app_container {
	display: flex;
	justify-content: center;
}

.video-container {
	border: 2px solid;
}

.canvas {
	position: absolute;
}

.behind {
	z-index: -1;
	width: 200px;
}

.flex-1 {
	flex: 1;
}
.outer-container {
	display: flex;
}
.charts {
	max-width: 50vw;
	overflow-y: auto;
}

.chart-outer {
	overflow: scroll;
	height: 90vh;
}
